## Status
- Data retrieved from API -> 911 matches
- Each match has 10 rows for each participant
- Attributes were preselected but need to refined further
## Next Steps
Filter Data:
- my summoner = euclidean aatrox
- my champion = Aatrox
- check number of matches left
## EDA
- analyze selected attributes
- correlation
- plots, distribution etc. (insights)
## Feature Engineering
- based on insights select final attributes to use for modeling
## From old script:
- convert time columns from seconds to minutes
- see inspiration for visualizations

In [6]:
import pandas as pd

In [7]:
df = pd.read_excel("all_matches_data_py.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9158 entries, 0 to 9157
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   matchId                      9158 non-null   object
 1   championName                 9158 non-null   object
 2   summonerName                 8857 non-null   object
 3   win                          9158 non-null   bool
 4   gameEndedInSurrender         9158 non-null   bool
 5   gameEndedInEarlySurrender    9158 non-null   bool
 6   kills                        9158 non-null   int64
 7   deaths                       9158 non-null   int64
 8   assists                      9158 non-null   int64
 9   goldEarned                   9158 non-null   int64
 10  goldSpent                    9158 non-null   int64
 11  totalMinionsKilled           9158 non-null   int64
 12  baronKills                   9158 non-null   int64
 13  dragonKills                  9158 non-null   int64
 14  turretKills                  9158 non-null   int64
 15  turretTakedowns              9088 non-null   float64
 16  turretsLost                  9158 non-null   int64
 17  inhibitorKills               9158 non-null   int64
 18  inhibitorTakedowns           9158 non-null   int64
 19  inhibitorsLost               9158 non-null   int64
 20  objectivesStolen             9158 non-null   int64
 21  objectivesStolenAssists      9158 non-null   int64
 22  firstBloodKill               9158 non-null   bool
 23  firstBloodAssist             9158 non-null   bool
 24  firstTowerKill               9158 non-null   bool
 25  firstTowerAssist             9158 non-null   bool
 26  totalDamageDealtToChampions  9158 non-null   int64
 27  damagePerMinute              9088 non-null   float64
 28  totalHeal                    9158 non-null   int64
 29  totalTimeCCDealt             9158 non-null   int64
 30  timeCCingOthers              9158 non-null   int64
 31  wardsPlaced                  9158 non-null   int64
 32  wardsKilled                  9158 non-null   int64
 33  killingSprees                9158 non-null   int64
 34  longestTimeSpentLiving       9158 non-null   int64
 35  totalTimeSpentDead           9158 non-null   int64
 36  bountyLevel                  9158 non-null   int64
 37  spell1Casts                  9158 non-null   int64
 38  spell2Casts                  9158 non-null   int64
 39  spell3Casts                  9158 non-null   int64
 40  spell4Casts                  9158 non-null   int64
 41  timePlayed                   9158 non-null   int64
dtypes: bool(7), float64(2), int64(30), object(3)
memory usage: 2.5+ MB

In [8]:
df.head()

,matchId,championName,summonerName,win,gameEndedInSurrender,gameEndedInEarlySurrender,kills,deaths,assists,goldEarned,...,wardsKilled,killingSprees,longestTimeSpentLiving,totalTimeSpentDead,bountyLevel,spell1Casts,spell2Casts,spell3Casts,spell4Casts,timePlayed
0,EUW1_7299723064,Pantheon,NaN,True,False,False,4,6,3,10431,...,0,2,218,153,4,176,81,64,5,1029
1,EUW1_7299723064,Xerath,NaN,True,False,False,10,5,10,13491,...,0,3,203,129,10,144,67,42,58,1029
2,EUW1_7299723064,Maokai,NaN,True,False,False,3,6,8,10806,...,0,0,312,187,3,90,54,93,11,1029
3,EUW1_7299723064,Zed,NaN,True,False,False,16,5,7,16416,...,0,4,186,117,16,166,177,200,31,1029
4,EUW1_7299723064,Ezreal,NaN,True,False,False,11,4,9,16140,...,0,2,288,108,11,227,88,50,22,1029

In [ ]:
# Preprocess data: filter by my summoner and aatrox games
df = df[df["summonerName"] == "euclidean aatrox"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 905 entries, 66 to 9155
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   matchId                      905 non-null    object
 1   championName                 905 non-null    object
 2   summonerName                 905 non-null    object
 3   win                          905 non-null    bool
 4   gameEndedInSurrender         905 non-null    bool
 5   gameEndedInEarlySurrender    905 non-null    bool
 6   kills                        905 non-null    int64
 7   deaths                       905 non-null    int64
 8   assists                      905 non-null    int64
 9   goldEarned                   905 non-null    int64
 10  goldSpent                    905 non-null    int64
 11  totalMinionsKilled           905 non-null    int64
 12  baronKills                   905 non-null    int64
 13  dragonKills                  905 non-null    int64
 14  turretKills                  905 non-null    int64
 15  turretTakedowns              904 non-null    float64
 16  turretsLost                  905 non-null    int64
 17  inhibitorKills               905 non-null    int64
 18  inhibitorTakedowns           905 non-null    int64
 19  inhibitorsLost               905 non-null    int64
 20  objectivesStolen             905 non-null    int64
 21  objectivesStolenAssists      905 non-null    int64
 22  firstBloodKill               905 non-null    bool
 23  firstBloodAssist             905 non-null    bool
 24  firstTowerKill               905 non-null    bool
 25  firstTowerAssist             905 non-null    bool
 26  totalDamageDealtToChampions  905 non-null    int64
 27  damagePerMinute              904 non-null    float64
 28  totalHeal                    905 non-null    int64
 29  totalTimeCCDealt             905 non-null    int64
 30  timeCCingOthers              905 non-null    int64
 31  wardsPlaced                  905 non-null    int64
 32  wardsKilled                  905 non-null    int64
 33  killingSprees                905 non-null    int64
 34  longestTimeSpentLiving       905 non-null    int64
 35  totalTimeSpentDead           905 non-null    int64
 36  bountyLevel                  905 non-null    int64
 37  spell1Casts                  905 non-null    int64
 38  spell2Casts                  905 non-null    int64
 39  spell3Casts                  905 non-null    int64
 40  spell4Casts                  905 non-null    int64
 41  timePlayed                   905 non-null    int64
dtypes: bool(7), float64(2), int64(30), object(3)
memory usage: 260.7+ KB

In [ ]:
# What champions did I play? - Fun Fact: Wukong is saved internally as "MonkeyKing"
print(df["championName"].unique())

['Thresh' 'Kennen' 'Volibear' 'Ekko' 'Camille' 'Leblanc' 'Illaoi' 'Velkoz'
 'XinZhao' 'Nocturne' 'Kaisa' 'Aatrox' 'LeeSin' 'Fiora' 'Karma' 'Nautilus'
 'Darius' 'Corki' 'Syndra' 'Chogath' 'Ryze' 'Gragas' 'Xerath' 'Kayn'
 'Blitzcrank' 'Lissandra' 'Leona' 'Orianna' 'Renekton' 'Nidalee' 'Anivia'
 'Gangplank' 'Rumble' 'Morgana' 'Shaco' 'Sylas' 'Gnar' 'Zac' 'Zed' 'Jayce'
 'MissFortune' 'Amumu' 'Zilean' 'Shen' 'Lucian' 'Vi' 'TwistedFate' 'Lux'
 'Akshan' 'RekSai' 'Pyke' 'Pantheon' 'Sett' 'Belveth' 'MonkeyKing'
 'Ezreal' 'Jinx' 'Ahri' 'Caitlyn' 'Khazix' 'Jhin' 'Swain' 'JarvanIV'
 'Graves' 'Tristana' 'Brand' 'Azir' 'Malzahar' 'Kindred' 'Yasuo'
 'Vladimir' 'Garen' 'Akali' 'Heimerdinger' 'Viego' 'Nasus' 'Poppy' 'Varus'
 'Ashe' 'Mordekaiser' 'Qiyana' 'Rakan' 'Warwick' 'TahmKench' 'Zyra'
 'Ivern' 'Riven' 'Shyvana' 'Elise' 'Twitch' 'Olaf' 'Jax' 'Yone' 'Bard'
 'Irelia' 'Hwei' 'Neeko' 'Quinn' 'Katarina' 'Senna' 'Malphite' 'Vex'
 'Annie' 'Kassadin' 'Soraka' 'Veigar' 'Viktor' 'Sion' 'Lillia' 'Ornn'
 'Galio']

In [14]:
# Only get toplane champs to investigate my playstyle
top_champs = ["Camille", "Aatrox"]
df = df[df["championName"].isin(top_champs)]
print(df["championName"].unique())
print(len(df))

['Camille' 'Aatrox']
94

In [15]:
# Investigate pre-selected attributes to select final subset
df.describe()

,kills,deaths,assists,goldEarned,goldSpent,totalMinionsKilled,baronKills,dragonKills,turretKills,turretTakedowns,...,wardsKilled,killingSprees,longestTimeSpentLiving,totalTimeSpentDead,bountyLevel,spell1Casts,spell2Casts,spell3Casts,spell4Casts,timePlayed
count,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.0,94.000000,94.000000,94.000000,...,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000,94.000000
mean,14.510638,10.957447,17.936170,15011.638298,13723.936170,71.723404,0.0,0.042553,0.723404,1.712766,...,0.180851,3.872340,243.404255,322.191489,3.627660,147.829787,36.319149,89.723404,9.638298,1324.606383
std,7.646413,4.471931,9.897114,3823.309015,3355.162412,71.780490,0.0,0.250371,0.966139,1.388295,...,0.621527,2.352002,265.174940,205.630438,6.824976,60.957880,13.017947,43.079672,3.457425,388.291023
min,1.000000,1.000000,0.000000,5749.000000,5050.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,76.000000,12.000000,0.000000,47.000000,7.000000,28.000000,3.000000,650.000000
25%,8.250000,8.250000,9.250000,12916.000000,11677.000000,28.250000,0.0,0.000000,0.000000,1.000000,...,0.000000,2.000000,112.250000,222.500000,0.000000,104.500000,27.000000,60.500000,7.000000,1045.250000
50%,14.000000,11.000000,17.500000,15115.000000,13850.000000,43.500000,0.0,0.000000,0.000000,2.000000,...,0.000000,3.000000,151.000000,296.000000,1.000000,131.000000,33.500000,79.500000,9.500000,1257.000000
75%,20.000000,14.000000,26.750000,17325.000000,16456.250000,81.250000,0.0,0.000000,1.000000,2.750000,...,0.000000,6.000000,231.750000,371.500000,3.750000,183.750000,46.750000,106.750000,12.000000,1513.750000
max,41.000000,24.000000,39.000000,23676.000000,20250.000000,312.000000,0.0,2.000000,6.000000,6.000000,...,3.000000,12.000000,1400.000000,1382.000000,41.000000,335.000000,76.000000,246.000000,17.000000,2593.000000

In [ ]:
final_attr = ["matchId", "win", # Metadata
              "kills", "deaths", "assist", # KDA
              "goldEarned", "totalMinionsKilled", "turretKills", "totalDamageDealtToChampions", "damagePerMinute", # Damage
              "wardsPlaced", "longestTimeSpentLiving", "totalTimesSpentDead", "timePlayed", 
              "spell1Casts", "spell2Casts", "spell3Casts", "spell4Casts"]